<a href="https://colab.research.google.com/github/Adilrasheed1/Adilrasheed1/blob/main/introToPyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Output

In [1]:
print("hello world")

hello world

In [2]:
print(10)

10

2. Data Types

In [3]:
#integer
print(8*10*17)

1360

In [4]:
#float
print(1.5+3.2+1+2.4*3)

12.899999999999999

In [7]:
#boolean
print(1==1)
print(False)

True
False

In [8]:
#list
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [9]:
#tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [10]:
#sets
print({1,2,3,4,5,6})

{1, 2, 3, 4, 5, 6}

In [11]:
#dictionary
print({"name":"Adil Rasheed","Degree":"bTech CSE","sem":"8th","Roll Number":22048112022,})

{'name': 'Adil Rasheed', 'Degree': 'bTech CSE', 'sem': '8th', 'Roll Number': 22048112022}

In [18]:
#type
type(2.5)
type(3)
type([1,2,3])
type({1,2,3})
type((1,23,4,5,6,7,8,9))
type({"name":"Adil Rasheed","age":23,})

dict

3. Variables

In [21]:
name="Adil Rasheed";
age=23;
batch=2022;
sem="8th";
print(name)
print(age)
print(batch)
print(sem)

Adil Rasheed
23
2022
8th

In [22]:
#dynamic binding
a=10;
print(a);
a="adil"
print(a);

10
adil

In [23]:
#different styles of variable declaration
a,b,c=10,2,3;
print(a,b,c)
#it also simplifies to a=10,b=2,c=3
a=b=c=3  #if all the variables have same value equal to 3
print(a,b,c)

10 2 3
3 3 3

4.Keywords And Identifiers

In [24]:
#keyword are the reserved words in python and cannot be used for variables
#e.g print, def, if ,else, return etc are keywords

In [ ]:
#identifers are simply names used to identify  a variable ,class ,function or other object.
#rules
 #you can't start with a digit
 #you can only use one special charater i.e; _
 #

6.User Input

In [25]:
input("enter your Name : ")

enter your Name : adil rasheed

'adil rasheed'

In [32]:
#take two inputs from user and add them and print the  result to user
a=input("enter first num: ")
b=input("enter second num: ")
c=int(a)+int(b)
print(c)
type(a)

enter first num: 1
enter second num: 2
3

str

7. Literals

In [36]:
#literals are the values stored in a variable
#integer literal
a=0b1010 #binary literal
b=100 #decimal literal
c=0o317 #0ctal literal
d=0x12c #hexadecimal
print(a)
print(b)
print(c)
print(d)
#float literal
float_1=1.3e2 #1.3*10^2
print(float_1)

10
100
207
300
130.0