<a href="https://colab.research.google.com/github/Adilrasheed1/python/blob/main/Lists-sets-dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LISTS IN PYTHON


*  what are lists
*  characteristics of a list
*  how to create  a list
*  accessing items from a list
*  editing items in a list
*  deleting items from a list
*  operations on list
*  functions of list

In [ ]:
#what are lists
#list is a data type where  you can store multiple items under 1 name

characteristics of a list


*   ordered
*   mutable
*   heterogenous
*   can have duplicates
*   are dynamic
*   can be nested
*   items can be accesed
*  can contain any type of object in python

Creating lists

In [ ]:
#empty
l1=[]
print(l1)
#1d
l2=[1,2,3,4]
print(l2)
#2d
l3=[[1,2,3],[4,5,6]]
print(l3)
#3d
l4=[[[1,2,3],[4,5,6]]]
print(l4)

[]
[1, 2, 3, 4]
[[1, 2, 3], [4, 5, 6]]
[[[1, 2, 3], [4, 5, 6]]]
1

Accessing items of a list

In [ ]:
#indexing
l1=[1,2,3,4,5,9,6,7,8,0,8,6]
#positive indexing
print(l1[0])
#negative indexing
print(l1[-1])
#slicing
print(l1[:])

1
6
[1, 2, 3, 4, 5, 9, 6, 7, 8, 0, 8, 6]

ADDING ITEMS TO THE LIST

In [ ]:
#APPEND
l=[1,2,3,4,5]
l.append(6)
print(l)

[1, 2, 3, 4, 5, 6]

In [ ]:
#extend
l=[1,2,3,4,5]
l.extend([6,7,8])
print(l)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#insert
l=[1,2,3,4,6]
l.insert(4,5)
print(l)

[1, 2, 3, 4, 5, 6]

EDITING ITEMS IN A LIST

In [ ]:
L=[1,2,3,4,5]
L[2]=200
L[:]=[100,200,300,400,500]
print(L)

[100, 200, 300, 400, 500]

DELETING ITEMS FROM LIST

In [ ]:
#del
L=[1,2,3,4,5]
del L[-1]
print(L)
del L[0:2]
print(L)

[1, 2, 3, 4]
[3, 4]

In [ ]:
#remove
L=[1,2,3,4,5]
L.remove(3)
print(L)

[1, 2, 4, 5]

In [ ]:
#pop
L=[1,2,3,4,5]
L.pop()
print(L)

[1, 2, 3, 4]

In [ ]:
#clear
l=[1,2,3,4,5]
l.clear()
print(l)

[]

OPERATIONS ON LISTS


*  ARITHEMATIC
*  MEMBERSHIP
*  LOOP

In [ ]:
#ARITHEMATIC(+,*)
l1=[1,2,3,4,5,6]
l2=[7,8,9,10]
#concatenation or merging
print(l1+l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l1*3

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [ ]:
#membership
l1=[1,2,3,4,5]
l2=[1,2,3,[4,5,6]]
print(5 in l1)
print([4,5,6] in l2)
print(4 in l2)

True
True
False

In [ ]:
#loops
l1=[1,2,3,4,5]
l2=[1,2,3,[4,5,6]]
print("loop of l1:")
for i in l1:
  print(i)
print("loop of l2:")
for i in l2:
  print(i)

loop of l1:
1
2
3
4
5
loop of l2:
1
2
3
[4, 5, 6]

LIST FUNCTIONS

In [ ]:
#len/min/max/sorted
l1=[1,2,3,4,8,6,8,4]
len(l1)

8

In [ ]:
min(l1)

1

In [ ]:
max(l1)

8

In [ ]:
sorted(l1)

[1, 2, 3, 4, 4, 6, 8, 8]

In [ ]:
#count
l1.count(8)

2

In [ ]:
#index
l1.index(8)

6

*TUPLES*

*   List item
*   List item



A tuple in python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once if it os assigned whereas we can change the elements of a list.

CHARACTERISTICS


*   ORDERED
*   IMMUTABLE
*   ALLOWS DUPLICATE

PLAN OF ATTACK


*   CREATING A TUPLE
*   ACCESING ITEMS
*   EDITING ITEMS
*   DELETING ITEMS
*   OPERATIONS ON TUPLE
*   TUPLE FUNCTIONS

1.CREATING A TUPLE

In [ ]:
#empty
t1=()
print(t1)
#single element tuple
t2=(2,)
print(t2)
#homogeneous tuple
t3=(1,2,3,4,5)
print(t3)
#hetrogeneous tuple
t4=(1,2,3,True,[1,2,3])
print(t4)

()
(2,)
(1, 2, 3, 4, 5)
(1, 2, 3, True, [1, 2, 3])

2. Accessing items from tuple

*   Indexing
*   slicing

In [ ]:
#indexing
t1=(1,2,3,4)
#negative indexing
print(t1[-1])
#positive indexing
print(t1[0])

4
1

In [ ]:
#slicing
print(t1[:])
print(t1[::-1])

(1, 2, 3, 4)
(4, 3, 2, 1)

3. editing items of tuple

items of a tuple cannot be edited or we can not add items to a tuple because tuples are immutable

4.Deleting items

In [11]:
t1=(1,2,3,4,5)
del t1
#this works but if we want to delete particular items of tuple that will not work

4. OPERATIONS ON TUPLES


*  ARITHEMATIC
*  MEMBERSHIP
*  LOOP

In [14]:
#arithematic(+,*)
t1=(1,2,3)
t2=(4,5,6)
print(t1+t2)
print(t1*2)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3)

In [18]:
#membership
print(1 in t1)
print(2 not in t2)
print(4 not in t2)

True
True
False

In [19]:
#loop
for i in t1:
  print(i)

1
2
3

5. TUPLE FUNCTIONS

    len/min/max/sum/sorted/count/index

In [21]:
t1=(1,2,3,5,3,2,9,8,5,4,3,9,0)
print(len(t1))
print(min(t1))
print(max(t1))
print(sum(t1))
print(sorted(t1))
print(t1.count(3))
print(t1.index(3))

13
0
9
54
[0, 1, 2, 2, 3, 3, 3, 4, 5, 5, 8, 9, 9]
3
2

In [22]:
#special syntax
#tuple unpacking
a,b,c=(1,2,3)
print(a,b,c)

1 2 3

In [23]:
#swapping
a=1
b=2
a,b=b,a
print(a,b)

2 1

In [24]:
#zipping tuples
a=(1,2,3,4)
b=(5,6,7,8)
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

**SETS**

A set is  an unordered collection of items. Every set element is unique(no duplicates) and must bet immutable however a set itself is mutable we can add or remove items from a set.

**CHARATERISTICS**



*   UNORDERED
*   MUTABLE
*   NO DUPLICATES
*   CAN'T CONTAIN MUTABLE DATA TYPES

CREATING A SET

In [1]:
#empty
s=set()
print(s)

set()

In [3]:
#1d set
s1={1,2,3,4}
print(s1)

{1, 2, 3, 4}

In [4]:
#2d set
#s2={1,2,3,4,{8,9,7},} this throws error because set itsel is mutable but set cannot contain mutable elements

TypeError: unhashable type: 'set'

ACCESING ELEMENTS

In [ ]:
s1={1,2,3,4,5}
#we can not access tjhe elements of  a set because set is unordered

EDITING ITEMS

In [ ]:
#CANNOT EDIT ITEMS OF SET BECAUSE ELEMENTS OF SET ARE IMMUTABLE

ADDING ITEMS IN SETS

In [11]:
s={1,2,3}
s.add(5)
print(s) #add function adds single element inside the set
s.update([6,7,8])
print(s) #update function adds multiple items inside the list

{1, 2, 3, 5}
{1, 2, 3, 5, 6, 7, 8}

**SET OPERATIONS**

UNION(|)

INTERSECTION(&)

DIFFERENCE(-)

SYMMETRIC DIFFERENCE(^)

MEMBERSHIP TEST(in ,not in)
ITERATION

In [12]:
#union
s1={1,2,3,4}
s2={3,4,5,6,7,8}
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [13]:
#intersection
s1 & s2

{3, 4}

In [15]:
#difference
print(s1 - s2)
print(s2 - s1)

{1, 2}
{8, 5, 6, 7}

In [16]:
#symmetric difference
s1 ^ s2

{1, 2, 5, 6, 7, 8}

In [17]:
#membership
print(1 in s1)
print(1 not in s1)

True
False

In [18]:
#loop
for i in s1:
  print(i)

1
2
3
4

**FUNCTIONS**

In [19]:
#len/min/max/sum/sorted
s={1,2,3,4,5,6,7,8}
print(len(s))
print(min(s))
print(max(s))
print(sum(s))
print(sorted(s))

8
1
8
36
[1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
#union/update
s1={1,2,3,4}
s2={3,4,5,6,7,8}
s1.union(s2)
print(s1)
s1.update(s2)
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 8}

**DICTIONARY**

dictionary in python is  a collection of key values used to store data values like a map ,which unlike other data types ,which hold only a single value as an element.

**CHARACTERISTICS**

*   MUTABLE
*   INDEXING HAS NO MEANING
*   KEYS CAN'T BE DUPLICATED
*   KEYS CAN'T BE MUTABLE ITEMS

CREATING A DICTIONARY

In [27]:
#empty
d={}
print(d)
#1d
d1={'name':'adil','gender':'male'}
print(d1)
#2d
d2={'name':'adil','college':'ku','subjects':{
    'dsa':50,
    'math':49,
    'os':44
}}
print(d2)

{}
{'name': 'adil', 'gender': 'male'}
{'name': 'adil', 'college': 'ku', 'subjects': {'dsa': 50, 'math': 49, 'os': 44}}

ACCESING ITEMS OF DICT.

In [31]:
mydict={'name':'adil','age':23}
print(mydict['name'])
print(mydict.get('age'))

adil
23

In [32]:
#adding key value pair
mydict['gender']='male'
print(mydict)

{'name': 'adil', 'age': 23, 'gender': 'male'}

In [33]:
#removing key value pair
mydict.pop('gender')
print(mydict)

{'name': 'adil', 'age': 23}

In [34]:
#EDITING KEY VALUE PAIR
mydict['age']=22
print(mydict)

{'name': 'adil', 'age': 22}

 **DICTIONARY OPERATIONS**


*   MEMBERSHIP
*   ITERATION

In [35]:
#membership
'name' in mydict

True

In [39]:
#iteration
for i in mydict:
  print(i,mydict[i])

name adil
age 22

DICTIONARY FUNCTIONS

In [1]:
#len/sorted/min/max
d1={'name':'adil','age':22,'gender':'male'}
len(d1)

3

In [5]:
#min
min(d1)

'age'

In [3]:
#sorted
sorted(d1)

['age', 'gender', 'name']