<a href="https://colab.research.google.com/github/Adilrasheed1/Adilrasheed1/blob/main/operators_and_if_else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



--OPERATORS IN PYTHON-
1.   ARITHEMATIC OPERATOR
2.   RELATIONAL OPERATOR
3.   LOGICAL OPERATOR
4.   BITWISE OPERATOR
5.   ASSIGNMENT OPERATOR
6.   MEMBERSHIP OPERATOR

In [ ]:
#arithematic operator
print(5+2)
print(5-2)
print(7*4)
print(7/2)
print(7//2) #integer division
print(5%2)#modulus operator->gives remainder
print(2**3)#power of ->2^3=8

7
3
28
3.5
3
1
8

In [ ]:
#relational operator->used when we have to compare the operands
print(4>5)
print(4<5)
print(2>=1)
print(3<=2)
print(1==1)
print(2!=5)

False
True
True
False
True
True

In [ ]:
#logical operator
print(1 and 0) #for and operator both operands should be true then it is true else false
print(1 or 0) #for or operator one of the operand should be true
print(not 1)

0
1
False

In [15]:
#bitwise operator
#biwise and
print(2 & 3) #010
             #011
             #---
             #010->2 in decimal
#bitwise or
print(2 | 3) #010
             #011
             #---
             #011->3 in decimal
#bitwise xor
print(2 ^ 3) #010
             #011
             #---
             #001->1in decimal #high is only when inputs are different or if number of 1's are odd
#bitwise not
print(~3) #~011=-100->-4 in decimal,it flips all the bits in binary including the sign bit
#bitwise left shift
print(2 << 3) #shift the bits of binary no. 2 by three positions
              #000 010-> 010 000->16 in decimal
#bitwise right shift
print(2>>3)    #shift the bits of binary 2 by three postions to right
               #binary 2->00000010
               #shift by 1->00000001->1 in decimal
               #shift by 2->00000000->0 in decimal
               #shift by 3->00000000->still 0
               #key rule for positive numbers a>>b=a//(2**b)

2
3
1
-4
16
0

In [16]:
#assignment operator
a=2 #simply assigning variable a value =2
print(a)
a%=2 #a=a%2
print(a)

2
0

In [20]:
#membership operator
print('A' in 'Adil') # the membership in operator checks whether this is present in that
print(1 in [1,2,3,4,5,6])
print(1 not in [5,4,6,7])

True
True
True

Problems

In [22]:
#find the sum of  a three digit number enterd by the user
number=int(input("enter three digit number"))
a=number%10
number=number//10
b=number%10
number=number//10
c=number
sum=a+b+c;
print(sum)

enter three digit number541
10

If-else in python

In [31]:
#simple login program to understand if-else in python
#suppose email=adilrasheed@gmail.com
#password=1234
email=input("enter your email:")
password=input("enter your password: ")
if email=="adilrasheed@gmail.com" and password=="1234":
  print("login successful")
elif  email=="adilrasheed@gmail.com" and password!="1234":
     print("password incorrect");

elif email!="adilrasheed@gmail.com" and password=="1234":
    print("incorrect email")
else:
   print("not a valid user")

enter your email:adilrasheed225@gmail.com
enter your password: 1234
incorrect email

MODULES IN PYTHON


1.   math
2.   keyword
3.   random
4.   datetime

In [42]:
#math module
import math
math.factorial(5)
math.cos(0)
math.floor(5.57)
math.ceil(5.57)

6

In [44]:
#keyword module
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [48]:
#random
import random
print(random.randint(1,100))

91

In [51]:
#datetime
import datetime
print(datetime.datetime.now())

2026-01-10 07:34:37.641949

Loops in python

In [53]:
#while loop syntax
numb=int(input("enter the number: "))
i=1
while i<=10:
  print(numb*i)
  i=i+1

enter the number: 8
8
16
24
32
40
48
56
64
72
80

In [54]:
#for loop syntax
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10